<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/dashboard.js') }}" defer></script>
</head>
<body>
    <div class="dashboard-container">
        <h1>Sensor Dashboard</h1>
        
        <div class="grid-container">
            <!-- Sensor Data
            <div class="sensor-data">
                
                <p>Temperature: <span id="temperature">Loading...</span></p>
                <p>Humidity: <span id="humidity">Loading...</span></p>
            </div>
             -->
            <!-- CO₂ Graph -->
            <div class="graph">
                <h2>CO₂ Level</h2>
                <p>CO₂ Level: <span id="co2">Loading...</span></p>
                <canvas id="co2Chart" width="400" height="200"></canvas>
            </div>

            <!-- Temperature Graph -->
            <div class="graph">
                <h2>Temperature</h2>
                <p>Temperature: <span id="temperature">Loading...</span></p>
                <canvas id="tempChart" width="400" height="200"></canvas>
            </div>

            <!-- Humidity Graph -->
            <div class="graph">
                <h2>Humidity</h2>
                <p>Humidity: <span id="humidity">Loading...</span></p>
                <canvas id="humidityChart" width="400" height="200"></canvas>
            </div>
        </div>
        <button class="logout-button" onclick="location.href='{{ url_for('auth.logout') }}'">Logout</button>
        <a href="{{ url_for('main.setup') }}"><button>Setup</button></a>
    </div>
</body>
</html>
